.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 100px;


  min-width: 400px;
  padding: 20px;
  background-color: #2196F3; /* Главный синий цвет */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white; /* Цвет текста */
}

.title-form{
  font-size: 28px;
  margin-bottom: 10px;
}

.form input:focus {
  outline: none; /* Убираем бордер (фокус) при фокусировке */
  /* Дополнительные стили, если необходимо */
}

/* Стили для полей ввода */
.form input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF; /* Белый фон для полей */
}

/* Стили для кнопки Submit */
.form input[type="submit"] {
  width: 200px;
  padding: 10px;
  background-color: #FF5722; /* Оранжевый цвет для кнопки */
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
  background-color: #FF7043; /* Измененный цвет кнопки при наведении */
}

.error {
  color: red;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}