header{
  height: 70px;
  width: 100%;
  background-color: #007bff;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-icon{
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .icon-wrapper svg{
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;

    fill: #333;

    &:hover{
      fill: white;
    }
  }

  .active svg{
    fill: #ffee00;
  }

  .icon-wrapper {
    position: relative;
    display: inline-block;
  }

  .counter {
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #0056b3;
    border: 1px solid black;
    color: white;
    top: -5px;
    right: -10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}