@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.img-container {
  width: 250px;
  height: 125px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.racing-car-list {
  text-align: center;
  margin: 20px;
}

.car-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.car-item {
  max-width: 250px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.car-image-container {
  margin-bottom: 10px;
}

.car-image {
  max-width: 100%;
  height: auto;
}

.car-name {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.car-info {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;

  &:hover {
    background-color: #0056b3;
    transform: scale(1);
  }
}

.car-item-icon{
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  fill: transparent;
  bottom: 10px;
  right: 10px;

  &:hover{
    fill: #ffee00;
  }
}

.completed{
  fill: #ffee00;
}

.not-selected{
  color: rgba(51, 51, 51, 0.5);;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}


.car-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .car-item {
    max-width: 800px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-to-cart-button {
    margin-top: 80px;
  }

  .car-item-icon{
    top: 10px;
    right: 10px;
  }

  .store {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .store-text {
    margin-left: 30px;
  }
}

.button-view-container{
  position: sticky;
  top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: #007bff;
  border-radius: 0 0 10px 10px;
  width: 140px;
  margin-left: 40px;

  .view{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 10px;

    display: flex;
    align-items: center;

    cursor: pointer;
  }

  svg{
    width: 30px;
    height: 30px;
    fill: black;
    transition: all 0.5s ease;

    &:hover{
      fill: white;
    }
  }

  .completed-view{
    svg{
    fill: white;
  }}
}